<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">

<div class="burger image text-center">
          <img src="https://s01.sgp1.cdn.digitaloceanspaces.com/article/143395-pysnzzzleh-1593090551.jpg" width="333" height="200" alt="burger image">
      </div>

<h1>Delicious Burgers!</h1>

<div class="burger-form">
  <h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Type:</label>
    <input type="text" id="ca" name="name">
  </div>
 

  <button type="submit" id="burger-button">Add Burger</button>
</form>
 </div>

<div class="flex-container">
  <div class="flex-child">
    <h2>Are you hungry?</h2>
<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
  </div>
  
  <div class="flex-child">
    <h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul
  </div>
  
</div>






