{{!-- //changing the button from nom nom to all gone when column is switched --}}
<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}NOM NOM!{{else}}ALL GONE!{{/if}}
	</button>

</li>
